### Pacotes

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import basedosdados as bd

### Importação do dataset

In [8]:
pnad_covid_1122020 = pd.read_csv('/home/matheus/microdados-pnad/pnad covid/PNAD_COVID_112020.csv')

In [9]:
pnad_covid_1122020.head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,11,7,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
1,2020,11,11.0,NaN,1,4,11,7,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
2,2020,11,11.0,NaN,1,4,11,7,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
3,2020,11,11.0,NaN,1,4,11,7,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
4,2020,11,11.0,NaN,2,1,11,7,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0