### Pacotes

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import basedosdados as bd

### Importação do dataset

In [5]:
pnad = pd.read_csv(r'C:\Users\est.matheus.brasil\Documents\PNAD\PNAD CONTÍNUA\pnad2022-2.csv', sep=',', encoding='latin1')

c:\Users\est.matheus.brasil\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (4,5,37,47,48,58,65,71,91,92,100,101,103,104,109,110,120,122,123,124,125,131,132,134,135,140,141,145,146,147,148,150,151,153,154,155,156,157,158,160,161,175) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
pnad.shape

(482118, 424)

In [6]:
pnad.head()

,Unnamed: 0,Ano,Trimestre,UF,Capital,RM_RIDE,UPA,Estrato,V1008,V1014,...,V1028194,V1028195,V1028196,V1028197,V1028198,V1028199,V1028200,ID_DOMICILIO,Habitual,Efetivo
0,1,2022,2,Rondônia,Município de Porto Velho (RO),NaN,110000016,1110011,2,9,...,166.433582,164.737382,176.277119,0.0,0.0,162.966617,173.639546,1100000160209,1,1.006092
1,2,2022,2,Rondônia,Município de Porto Velho (RO),NaN,110000016,1110011,2,9,...,166.433582,164.737382,176.277119,0.0,0.0,162.966617,173.639546,1100000160209,1,1.006092
2,3,2022,2,Rondônia,Município de Porto Velho (RO),NaN,110000016,1110011,2,9,...,166.433582,164.737382,176.277119,0.0,0.0,162.966617,173.639546,1100000160209,1,1.006092
3,4,2022,2,Rondônia,Município de Porto Velho (RO),NaN,110000016,1110011,2,9,...,166.433582,164.737382,176.277119,0.0,0.0,162.966617,173.639546,1100000160209,1,1.006092
4,5,2022,2,Rondônia,Município de Porto Velho (RO),NaN,110000016,1110011,2,9,...,166.433582,164.737382,176.277119,0.0,0.0,162.966617,173.639546,1100000160209,1,1.006092

### AED

In [9]:
#Identificação - UF
#Característica - Cor ou raça V2010
#Característica - Curso vai elevado que frequentou V3009A 
##Característica - Se concluiu V3014
#Característica Trabalho - Onde exercia V4022

Index(['Unnamed: 0', 'Ano', 'Trimestre', 'UF', 'Capital', 'RM_RIDE', 'UPA',
       'Estrato', 'V1008', 'V1014',
       ...
       'V1028194', 'V1028195', 'V1028196', 'V1028197', 'V1028198', 'V1028199',
       'V1028200', 'ID_DOMICILIO', 'Habitual', 'Efetivo'],
      dtype='object', length=424)

In [72]:
selecao = [
    'UF', 
    'V2010', 
    'V3009A',
    'V3014', 
    'V4022']
    
pnad_selecionada = pnad[selecao]

In [73]:
pnad_filtrada = pnad_selecionada[
    (pnad_selecionada['UF'] == 'Paraná') & 
    (pnad_selecionada['V3014'] == 'Sim') & 
    ((pnad_selecionada['V3009A'] == 'Superior - graduação') | 
    (pnad_selecionada['V3009A'] == 'Especialização de nível superior') | 
    (pnad_selecionada['V3009A'] == 'Mestrado') | 
    (pnad_selecionada['V3009A'] == 'Doutorado')) &
    ((pnad_selecionada['V4022'] == 'No domicílio de residência, em local exclusivo para o desempenho da atividade') |
    (pnad_selecionada['V4022'] == 'No domicílio de residência, sem local exclusivo para o desempenho da atividade'))
    ]

In [81]:
pnad_filtrada.groupby('V2010')[['V2010']].count()

          V2010
V2010
Amarela       6
Branca      148
Indígena      1
Parda        31
Preta         3